---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Not found</title>
  </head>
  <body>
    <main class="min-h-screen flex flex-col items-center justify-center p-24">
      <h1 class="text-4xl font-light text-gray-900 mb-16 max-w-xs">Page not found</h1>
      <p class="text-lg text-gray-700 font-light mb-12">
        Sorry, we couldn't find what you were looking for.
        <br />
        <br />
        <a href="/" class="text-orange-700 hover:underline">Go home</a>.
      </p>
    </main>
  </body>
</html>
